@font-face {
    font-family: 'Confortaa';
    src: url("assets/fonts/Comfortaa-Regular.ttf") format("truetype");
}
h5 {
    background-color: #af0101;
    padding: 2%;
}

.cards {
    padding: 30px;
}

.month {
    color: #83C7F5;
}
.lorem  {
    color: #C3C3C3;
    padding-left: 20%;
    padding-right: 20%;
    font-size: smaller;
}
a {
    color: black;
}
a:hover {
    color: #af0101;
}