@font-face {
    font-family: 'Confortaa';
    src: url("assets/fonts/Comfortaa-Regular.ttf") format("truetype");
}
h2 {
    font-family:'Confortaa', sans-serif;
    text-decoration:#9B0604 underline ;
}
.columns {
    display: flex;
    flex-flow: column row;
}

