/*NEED AN EVENT SECTION? */

/*.form-title {
    display: flex;
    justify-content: center;
    margin: 1%;
    font-family: 'Comfortaa-Regular';
    text-decoration: underline red;
}


.form-needevent {
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
    margin: 1%;
}

.form-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1%;
}
*/

main {
    background-color: white;
    padding: 5% 10% 5% 10%;
}

@font-face {
    font-family: 'Confortaa';
    src: url("assets/fonts/Comfortaa-Regular.ttf") format("truetype");
}

h2 {
    font-family: 'Confortaa', sans-serif;
    display: inline-block;
    font-size: 50px;

}

h2::after { /* underline smaller than title */
    content: '';
    display: block;
    width: 75%;
    height: 3px;
    background-color: #af0101;
    margin: -3px auto;
}

.form-title{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.form-container {
    padding: 50px;
    margin-bottom: 50px;
}

.form-row {
    height: 100px;
}

.form-description {
    height: 200px;
}

.form-border {
    border-radius: 20px;
    border-color: #af0101;
    background-color: white;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #8064A2;
}

.form-send {
    width: 150px;
    height: 50px;
    position: absolute;
    right: 35%;
    bottom: auto;
    margin-top: 20px;
}


/*WHO WE ARE SECTION */

.weare-container {
    padding: 50px;
}


.text-weare{
    font-family: Arial, Helvetica, sans-serif;
    color: #a1a1a1;
}

.sticker{
    background-color: #AF0101;
    border: 2px solid white;
    color: white;
    width: 15%;
    height: 55px;
    text-align: center;
    position: relative;
    top: 150px;
    left: 50px;
    z-index: 1;
}

.stickertext{

}